@import "../../../../../../resources/scss/colors";

.ssms-table {
  thead {
    th {
      font-weight: 600;
      color: $medium-grey;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}
