@import "../../../../../../../../resources/scss/colors";

.shift-week-table-empty-cell {
  min-height: 110px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  background-color: $ssms-logo-grey-alpha-10;

  &.isHovering {
    background: url(./plus-icon.svg) $ssms-bg-light-active;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.card-is-over {
    background-color: $ssms-bg-light-active-hover;
  }
}
